In [1]:
import pandas as pd

In [2]:
Airport1 = pd.read_excel('C:/Users/Faiz Hussain/Desktop/ML Project/1c_ML_16429.xlsx')
Airport2 = pd.read_excel('C:/Users/Faiz Hussain/Desktop/ML Project/1a_ML_16098.xlsx')
Airport3 = pd.read_excel('C:/Users/Faiz Hussain/Desktop/ML Project/1b_ML_16253.xlsx')

In [3]:
Airport1

,date,idstazione,lon,lat,altezza,pressure,three_hour_pressure_change,char_pressure_tendency,wind_direction,wind_speed,relative_humidity,visibility,present_weather,past_weather1,past_weather2,cloud_cover,height_of_base_of_cloud,cloud_type,drybulb,dewpoint
0,01/01/1996 00:00,16429,12.50,37.92,9,100270.0,70.0,1.0,270.0,15.5504,NaN,10000.0,2.0,1.0,1.0,5.0,450.0,35,NaN,NaN
1,01/01/1996 03:00,16429,12.50,37.92,9,100280.0,10.0,3.0,270.0,17.4942,NaN,10000.0,2.0,1.0,1.0,4.0,250.0,35,NaN,NaN
2,01/01/1996 06:00,16429,12.50,37.92,9,100310.0,30.0,3.0,270.0,13.6066,NaN,14000.0,2.0,1.0,1.0,2.0,450.0,35,NaN,NaN
3,01/01/1996 09:00,16429,12.50,37.92,9,100490.0,180.0,1.0,270.0,9.7190,NaN,18000.0,2.0,1.0,1.0,3.0,800.0,35,NaN,NaN
4,01/01/1996 12:00,16429,12.50,37.92,9,100520.0,30.0,0.0,280.0,13.6066,NaN,18000.0,2.0,1.0,1.0,6.0,800.0,35,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175661,18/11/2023 19:00,16429,12.49,37.91,9,102320.0,180.0,1.0,100.0,3.8876,NaN,12000.0,2.0,1.0,1.0,0.0,NaN,62,14.05,9.15
175662,18/11/2023 20:00,16429,12.49,37.91,9,102350.0,170.0,1.0,90.0,3.8876,NaN,12000.0,2.0,1.0,1.0,0.0,NaN,62,13.85,8.85
175663,18/11/2023 21:00,16429,12.49,37.91,9,102390.0,180.0,1.0,110.0,3.8876,NaN,12000.0,2.0,1.0,1.0,0.0,NaN,62,12.25,8.95
175664,18/11/2023 22:00,16429,12.49,37.91,9,102390.0,70.0,1.0,130.0,1.9438,NaN,12000.0,2.0,1.0,1.0,0.0,NaN,62,11.85,9.05
175665,18/11/2023 23:00,16429,12.49,37.91,9,102380.0,30.0,1.0,150.0,1.9438,NaN,12000.0,2.0,1.0,1.0,0.0,NaN,62,12.05,10.15

In [4]:
Airport2

,date,idstazione,lon,lat,altezza,pressure,three_hour_pressure_change,char_pressure_tendency,wind_direction,wind_speed,relative_humidity,visibility,present_weather,past_weather1,past_weather2,cloud_cover,height_of_base_of_cloud,cloud_type,drybulb,dewpoint
0,01/01/1996 00:00,16098,12.10,45.68,42,99090.0,100.0,2.0,10.0,5.8314,NaN,4000.0,10.0,6.0,5.0,8.0,800.0,37,NaN,NaN
1,01/01/1996 03:00,16098,12.10,45.68,42,99210.0,120.0,2.0,0.0,1.9438,NaN,3000.0,50.0,5.0,2.0,8.0,450.0,37,NaN,NaN
2,01/01/1996 06:00,16098,12.10,45.68,42,99330.0,120.0,2.0,20.0,1.9438,NaN,2500.0,60.0,6.0,5.0,8.0,450.0,37,NaN,NaN
3,01/01/1996 09:00,16098,12.10,45.68,42,NaN,NaN,NaN,0.0,1.9438,NaN,2500.0,NaN,NaN,NaN,8.0,NaN,62,NaN,NaN
4,01/01/1996 12:00,16098,12.10,45.68,42,99640.0,20.0,1.0,40.0,5.8314,NaN,8000.0,10.0,6.0,2.0,8.0,800.0,35,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174107,18/11/2023 19:00,16098,12.11,45.68,42,101760.0,10.0,1.0,10.0,5.8314,NaN,15000.0,2.0,1.0,1.0,1.0,2250.0,30,5.65,3.05
174108,18/11/2023 20:00,16098,12.11,45.68,42,101830.0,60.0,2.0,360.0,1.9438,NaN,15000.0,2.0,1.0,1.0,0.0,NaN,62,4.85,2.55
174109,18/11/2023 21:00,16098,12.11,45.68,42,101800.0,100.0,2.0,80.0,3.8876,NaN,15000.0,2.0,1.0,1.0,1.0,8000.0,30,4.45,2.15
174110,18/11/2023 22:00,16098,12.11,45.68,42,101800.0,40.0,3.0,120.0,1.9438,NaN,15000.0,2.0,1.0,1.0,0.0,NaN,62,3.65,2.05
174111,18/11/2023 23:00,16098,12.11,45.68,42,101770.0,-70.0,8.0,10.0,1.9438,NaN,15000.0,2.0,1.0,1.0,0.0,NaN,62,3.05,1.55

In [6]:
Airport3

,date,idstazione,lon,lat,altezza,pressure,three_hour_pressure_change,char_pressure_tendency,wind_direction,wind_speed,relative_humidity,visibility,present_weather,past_weather1,past_weather2,cloud_cover,height_of_base_of_cloud,cloud_type,drybulb,dewpoint
0,14/03/1996 12:00,16253,14.07,41.05,10,100790.0,20.0,0.0,70.0,7.7752,NaN,15000.0,2.0,1.0,1.0,6.0,1750.0,35,NaN,NaN
1,16/01/1997 18:00,16253,14.07,41.05,10,102290.0,20.0,3.0,0.0,0.0000,NaN,1800.0,10.0,0.0,0.0,1.0,800.0,31,NaN,NaN
2,19/06/1997 06:00,16253,14.07,41.05,10,100850.0,-380.0,6.0,0.0,0.0000,NaN,4500.0,10.0,1.0,1.0,6.0,800.0,38,NaN,NaN
3,30/05/1998 18:00,16253,14.07,41.05,10,101520.0,10.0,0.0,260.0,5.8314,NaN,20000.0,2.0,1.0,1.0,4.0,3500.0,30,NaN,NaN
4,15/12/1998 21:00,16253,14.07,41.05,10,102580.0,60.0,1.0,100.0,3.8876,NaN,8000.0,10.0,0.0,0.0,0.0,NaN,62,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69186,17/11/2023 19:00,16253,14.08,41.06,10,101060.0,60.0,3.0,280.0,1.9438,NaN,11000.0,2.0,1.0,1.0,3.0,3500.0,30,15.25,12.75
69187,17/11/2023 20:00,16253,14.08,41.06,10,101100.0,70.0,3.0,300.0,3.8876,NaN,11000.0,2.0,1.0,1.0,3.0,3500.0,30,14.65,12.55
69188,17/11/2023 21:00,16253,14.08,41.06,10,101190.0,110.0,2.0,320.0,5.8314,NaN,11000.0,2.0,1.0,1.0,3.0,800.0,31,13.85,11.75
69189,17/11/2023 22:00,16253,14.08,41.06,10,101220.0,160.0,2.0,350.0,7.7752,NaN,11000.0,2.0,1.0,1.0,2.0,3500.0,30,13.45,11.35
69190,17/11/2023 23:00,16253,14.08,41.06,10,101310.0,210.0,2.0,10.0,11.6628,NaN,11000.0,2.0,1.0,1.0,0.0,NaN,62,13.05,5.45